<h1>Editing booking</h1>

<% form_for(@booking) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :arrival %><br />
    <%= f.date_select :arrival %>
  </p>
  <p>
    <%= f.label :departure %><br />
    <%= f.date_select :departure %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @booking %> |
<%= link_to 'Back', bookings_path %>